<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Phone</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js" async></script>
    <!-- <script></script> -->

</head>
<body>
    <div class="main">
        <button onclick="topFunction()" id="myBtnOne" title="Go to top">Top</button>

        <nav>
    <div class="logo">
<a href="index.html"><img width="150px" height="200px" src="images/the_logo.png" alt=""></a>
    </div>
<div class="nav-links">
<ul>
   <li><a href="#">Home </a></li>
   <li><a  href="compare.html">Compare</a></li>
   <li><a  href="contact.html">Contact Us</a></li>
   <li><a  href="feedback.html">Feedback</a></li>
   </ul>
</div>
</nav>
<div class="information">
    <div class="overlay">
    <img src="images/13.png" alt="" class="mobile">
    <div id="circle">
        <div class="feature one">
            <img src="images/camera.png" alt="">
            <div>
                <h1>Camera</h1>
                <p>12MP,2160p Wide Angle</p>
            </div>
        </div>
        <div class="feature two">
            <img src="images/processor.png" alt="">
            <div>
                <h1>Processor</h1>
                <p>Apple A15 Bionic Chip</p>
            </div>
        </div>
        <div class="feature three">
            <img src="images/display.png" alt="">
            <div>
                <h1>Display</h1>
                <p>6.1" Fullscreen</p>
            </div>
        </div>
        <div class="feature four">
            <img src="images/battery.png" alt="">
            <div>
                <h1>Battery</h1>
                <p>3240mAh, 20HrsBattery Backup</p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="controls">
    <img src="images/arrow.png" alt="" id="upBtn">
    <h3>Features</h3>
    <img src="images/arrow.png" alt="" id="downBtn">
</div>
    </div>

<!-- -----------------------------------------------------------<% %> -->
<div class="main">
    <div class="information">
        <div class="overlay">
        <img src="images/13pro.png" alt="" class="iphone">
        <div id="circle1">
            <div class="feature one">
                <img src="images/camera.png" alt="">
                <div>
                    <h1>Camera</h1>
                    <p>12MP,2160p Wide Angle</p>
                </div>
            </div>
            <div class="feature two">
                <img src="images/processor.png" alt="">
                <div>
                    <h1>Processor</h1>
                    <p>Apple A15 Bionic Chip</p>
                </div>
            </div>
            <div class="feature three">
                <img src="images/display.png" alt="">
                <div>
                    <h1>Display</h1>
                    <p>6.7 1284x2778 Fullscreen</p>
                </div>
            </div>
            <div class="feature four">
                <img src="images/battery.png" alt="">
                <div>
                    <h1>Battery</h1>
                    <p>4352mAh, 28Hrs Battery Backup</p>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="controls">
        <img src="images/arrow.png" alt="" id="upBtn1">
        <h3>Features</h3>
        <img src="images/arrow.png" alt="" id="downBtn1">
    </div>

        </div>
<!-- --------------------------------------------------------------------------<%-  %>  -->
<div class="main">
    <div class="information">
        <div class="overlay">
        <img src="images/14pro.png" alt="" class="iphone2">
        <div id="circle2">
            <div class="feature one">
                <img src="images/camera.png" alt="">
                <div>
                    <h1>Camera</h1>
                    <p>48MP,2160pWide Angle Lens</p>
                </div>
            </div>
            <div class="feature two">
                <img src="images/processor.png" alt="">
                <div>
                    <h1>Processor</h1>
                    <p>Apple A16 Bionic Chip</p>
                </div>
            </div>
            <div class="feature three">
                <img src="images/display.png" alt="">
                <div>
                    <h1>Display</h1>
                    <p>6.7 1284x2778 Fullscreen</p>
                </div>
            </div>
            <div class="feature four">
                <img src="images/battery.png" alt="">
                <div>
                    <h1>Battery</h1>
                    <p>4323mAh, 29Hrs Battery Backup</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="controls">
        <img src="images/arrow.png" alt="" id="upBtn2">
        <h3>Features</h3>
        <img src="images/arrow.png" alt="" id="downBtn2">
    </div>
        </div>
<!-- ----------------------------------------------------------------------------- -->
<div class="main">
    <div class="information">
        <div class="overlay">
        <img src="images/s22.png" alt="" class="s22">
        <div id="circle3">
            <div class="feature one">
                <img src="images/camera.png" alt="">
                <div>
                    <h1>Camera</h1>
                    <p>108MP 4320p,Wide Angle Lens</p>
                </div>
            </div>
            <div class="feature two">
                <img src="images/processor.png" alt="">
                <div>
                    <h1>Processor</h1>
                    <p>Exynos 220 </p>
                </div>
            </div>
            <div class="feature three">
                <img src="images/display.png" alt="">
                <div>
                    <h1>Display</h1>
                    <p>6.8" 1440x3088 pixels Fullscreen</p>
                </div>
            </div>
            <div class="feature four">
                <img src="images/battery.png" alt="">
                <div>
                    <h1>Battery</h1>
                    <p>5000mAh, 13Hrs Battery Backup</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="controls">
        <img src="images/arrow.png" alt="" id="upBtn3">
        <h3>Features</h3>
        <img src="images/arrow.png" alt="" id="downBtn3">
    </div>
        </div>
<!-- ----------------------------------------------------------------------------- -->
<div class="main">
    <div class="information">
        <div class="overlay">
        <img src="images/oneplus.png" alt="" class="oneplus">
        <div id="circle4">
            <div class="feature one">
                <img src="images/camera.png" alt="">
                <div>
                    <h1>Camera</h1>
                    <p>64MP,Wide Angle Lens</p>
                </div>
            </div>
            <div class="feature two">
                <img src="images/processor.png" alt="">
                <div>
                    <h1>Processor</h1>
                    <p>Snapdragon 690 5G</p>
                </div>
            </div>
            <div class="feature three">
                <img src="images/display.png" alt="">
                <div>
                    <h1>Display</h1>
                    <p>6.49" Fullscreen</p>
                </div>
            </div>
            <div class="feature four">
                <img src="images/battery.png" alt="">
                <div>
                    <h1>Battery</h1>
                    <p>430000mAh, 20Hrs Battery Backup</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="controls">
        <img src="images/arrow.png" alt="" id="upBtn4">
        <h3>Features</h3>
        <img src="images/arrow.png" alt="" id="downBtn4">
    </div>
        </div>
<!-- ----------------------------------------------------------------------------- -->
<div class="main">
    <div class="information">
        <div class="overlay">
        <img src="images/nothing.jpeg" alt="" class="nothing">
        <div id="circle5">
            <div class="feature one">
                <img src="images/camera.png" alt="">
                <div>
                    <h1>Camera</h1>
                    <p>50MP,2160p Wide Lens</p>
                </div>
            </div>
            <div class="feature two">
                <img src="images/processor.png" alt="">
                <div>
                    <h1>Processor</h1>
                    <p>Snapdragon 778G 5G</p>
                </div>
            </div>
            <div class="feature three">
                <img src="images/display.png" alt="">
                <div>
                    <h1>Display</h1>
                    <p>6.55"Fullscreen</p>
                </div>
            </div>
            <div class="feature four">
                <img src="images/battery.png" alt="">
                <div>
                    <h1>Battery</h1>
                    <p>4500mAh, 7Hrs Battery Backup</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="controls">
        <img src="images/arrow.png" alt="" id="upBtn5">
        <h3>Features</h3>
        <img src="images/arrow.png" alt="" id="downBtn5">
    </div>
        </div> 
        <footer>
            <h1>RealPhone</h1>
           
            <p>&copy;All Copyrights Reserved</p>
        </footer>
  <script src="javascript.js"></script>
</body>
</html>